$navbar-portrait-height: 48px;
$left-menu-width: 300px;
$bottom-menu-height: 200px;

$reader-margin: 20px;
$book-content-background: rgb(245,242,233);


$font-stack:    Helvetica, sans-serif;
$white-text-color: #fff;
$black-text-color: #333;
$black-box-bgcolor: rgba(29, 29, 29, 0.7);

$menu-background-color: rgb(69,68,68);
$menu-item-color: rgb(53,53,53);
$menu-item-text-color: rgb(194,194,194);
$menu-item-text-color-dark: rgb(168,168,168);
$menu-item-color-active: rgb(85,140,185);

$book-menu-item-height: 40px;
$book-menu-item-indent: 10px;

$controlbar-height: 55px;