<div class="reader-view" ng-class="{'left-menu-open': reader.vm.state.leftMenuOpen}">
    <nav class="navbar">
        <div class="left-buttons">
            <button class="book-menu-button" ng-click="reader.vm.bookMenuClicked();"><i class="fa fa-bars"></i></button>
        </div>
        <div class="title">Test {{vm.settings.title}}</div>
        <div class="right-buttons"></div>
    </nav>

    <nav class="book-menu left-menu" ng-class="{'open': reader.vm.state.bookMenuOpen}">
        <h1>Table of Contents</h1>

        <ul>
            <li ng-class="{active: coverOpen}">
                <a ng-click="coverClick()">Cover</a>
            </li>
            <li ng-class="{active: jacketOpen}">
                <a ng-click="jacketClick()">Jacket</a>
            </li>
            <li ng-class="{active: sectionId==section.index && !glossaryOpen && !coverOpen && !jacketOpen}" ng-repeat="section in book.sections | orderBy:index">
                <a ng-click="sectionClick(section.index)" ng-bind-html="section.title"></a>
            </li>
            <li ng-class="{active: glossaryOpen}">
                <a ng-click="glossaryClick()">Glossary</a>
            </li>
            <li>
                <a ui-sref="library">Back to Library</a>
            </li>
        </ul>
    </nav>

    <article lq-book-content class="book-content" ng-class="{'bottom-menu-open': reader.vm.state.contextualGlossaryOpen}" content="bookContent"></article>

    <article lq-contextual-glossary class="contextual-glossary bottom-menu" ng-class="{'open': reader.vm.state.contextualGlossaryOpen}">
        <h1>Glossary</h1>
        <h2>{{reader.vm.glossedItem.term}}</h2>
        <p>{{reader.vm.glossedItem.definition}}</p>
    </article>
</div>
