<div class="reader-view"
     ng-class="{'left-menu-open': reader.state.bookMenuOpen}"
     ng-controller="Reader as reader">
    <nav class="navbar">
        <div class="left-buttons">
            <button class="book-menu-button" ng-click="reader.bookMenuClicked();"><i class="fa fa-bars"></i></button>
        </div>
        <div class="title">{{reader.book.name}}</div>
        <div class="right-buttons"></div>
    </nav>

    <nav class="book-menu left-menu" ng-class="{'open': reader.state.bookMenuOpen}">
        <h1>Table of Contents</h1>

        <ul>
            <li ng-class="{active: coverOpen}">
                <a ng-click="coverClick()">Cover</a>
            </li>
            <li ng-class="{active: jacketOpen}">
                <a ng-click="jacketClick()">Jacket</a>
            </li>
            <li ng-class="{active: sectionId==section.index && !glossaryOpen && !coverOpen && !jacketOpen}" ng-repeat="section in book.sections | orderBy:index">
                <a ng-click="sectionClick(section.index)" ng-bind-html="section.title"></a>
            </li>
            <li ng-class="{active: glossaryOpen}">
                <a ng-click="glossaryClick()">Glossary</a>
            </li>
            <li>
                <a ui-sref="library">Back to Library</a>
            </li>
        </ul>
    </nav>

    <article lq-book-content class="book-content" ng-class="{'bottom-menu-open': reader.state.contextualGlossaryOpen}"
             content="bookContent"
             term-clicked="reader.glossaryTermClicked(term, context)"></article>

    <article lq-contextual-glossary class="contextual-glossary bottom-menu" ng-class="{'open': reader.state.contextualGlossaryOpen}">
        <div class="top">
            <h1 class="title">Glossary</h1>
            <button class="closeButton" ng-click="reader.closeContextualGlossary();"><i class="fa fa-close close-icon"></i></button>
        </div>
        
        <h2>{{reader.vm.glossedItem.term}}</h2>
        <p>{{reader.vm.glossedItem.definition}}</p>
    </article>
</div>
