<nav class="reader-book-menu reader-menu">
    <h1>
        Table of Contents
        <!--<a class="close-button" ng-click="closeClicked()">
            <span class="glyphicon glyphicon-circle-arrow-left"></span>
        </a>-->
    </h1>

    <ul>
        <li ng-class="{active: coverOpen}">
            <a ng-click="coverClick()">Cover</a>
        </li>
        <li ng-class="{active: jacketOpen}">
            <a ng-click="jacketClick()">Jacket</a>
        </li>
        <li ng-class="{active: sectionId==section.index && !glossaryOpen && !coverOpen && !jacketOpen}" ng-repeat="section in book.sections | orderBy:index">
            <a ng-click="sectionClick(section.index)" ng-bind-html="section.title"></a>
        </li>
        <li ng-class="{active: glossaryOpen}">
            <a ng-click="glossaryClick()">Glossary</a>
        </li>
        <li>
            <a ui-sref="library">Back to Library</a>
        </li>
    </ul>
</nav>