@import '../../../../variables.scss';

.navbar {
    background-color: gray;
    position: fixed;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    top: 0;
    left: 0;
    right: 0;
    height: $navbar-portrait-height;

    .left-buttons, .right-buttons {
        height: 100%;
        flex-grow: 0;
        padding: 0;
        border: none;
    }

    .title {
        flex-grow: 1;
        text-align: center;
        line-height: $navbar-portrait-height;
    }

    .book-menu-button {
        height: 100%;
        width: 48px;
        padding: 0;
        border: none;
        background-color: white;
    }
}
