.reader-view {
  position: absolute;
  background-color: #f5f2e9;
  overflow: hidden;
  top: 48px;
  left: 0;
  right: 0;
  bottom: 0;
}
.reader-view.left-menu-open {
  left: 300px;
  right: -300px;
}
.reader-view.left-menu-open .navbar {
  left: 300px;
  right: -300px;
}
.reader-view .navbar {
  background-color: gray;
  position: fixed;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-flex-wrap: nowrap;
          flex-wrap: nowrap;
  top: 0;
  left: 0;
  right: 0;
  height: 48px;
}
.reader-view .navbar .left-buttons, .reader-view .navbar .right-buttons {
  height: 100%;
  -webkit-flex-grow: 0;
          flex-grow: 0;
  padding: 0;
  border: none;
}
.reader-view .navbar .title {
  -webkit-flex-grow: 1;
          flex-grow: 1;
  text-align: center;
  line-height: 48px;
}
.reader-view .navbar .book-menu-button {
  height: 100%;
  width: 48px;
  padding: 0;
  border: none;
  background-color: white;
}
.reader-view .book-content {
  padding: 0 40px;
}
.reader-view .book-content p {
  position: relative;
  margin: 1em 0;
}
.reader-view .book-content .discuss {
  position: absolute;
  right: -20px;
  top: -1em;
  bottom: -1em;
  width: 40px;
  height: 40px;
}
.reader-view .book-content .discuss::after {
  font-family: FontAwesome;
  content: "\f040";
  text-align: right;
}
.reader-view .book-content .discuss:hover {
  background-color: blue;
}
.reader-view .left-menu {
  position: fixed;
  left: -300px;
  top: 0;
  bottom: 0;
  width: 300px;
}
.reader-view .left-menu.open {
  left: 0;
}
.reader-view .bottom-menu {
  font-family: Helvetica, sans-serif;
  position: absolute;
  height: 200px;
  left: 0;
  right: 0;
  bottom: -200px;
}
.reader-view .bottom-menu.open {
  bottom: 0;
}
.reader-view .bottom-menu .top {
  position: absolute;
  left: 0;
  right: 0;
  height: 50px;
}
.reader-view .bottom-menu .top .title {
  position: absolute;
  left: 40px;
  right: 40px;
  border-bottom: 1px solid gray;
}
.reader-view .bottom-menu .top .closeButton {
  position: absolute;
  right: 0;
  height: 50px;
  width: 50px;
}
.reader-view .bottom-menu .top .closeButton .close-icon {
  font-size: 50px;
}
.reader-view .contextual-glossary, .reader-view .discussions {
  background-color: rgba(255, 255, 255, 0.9);
}
